<%      
aForm = <<-eos
<form  method="post" enctype='multipart/form-data'
<html>
<head> <title>Files</title> 
<script src="jquery-1.10.2-uncompressed-link.js"></script>
<script>
$(document).ready(function(){
  $("#sam").click(function(){
afileobject = document.getElementById("dave");
var n = afileobject["files"]["length"];
i = 0;
// alert(n)
while (i < n)
{
// alert(i);
// alert(afileobject["files"][i]["name"]);
$("table").after("<p>");
$("table").after(afileobject["files"][i]["name"]);
$("table").after("</p>");
i = i + 1;
}
});
});
</script>
</head>

</head> <body> <div> <table>

<tr>
<td> <input type = "file"  id="dave" name="chosenfiles[]" value ="Choose File" multiple = "multiple"/></td>
<td> <input type = "button" id="sam" name="Button" value="Show Files" /> </td>
<td> <input type = "submit"  id = "bob" style= "font-face: 'Comic Sans MS'; font-size: larger; color: teal; background-color: lightgray; border: 3pt ridge lightgrey" name="gobutton" id="sam" value="Evidence" formaction = "/showfirstfileNUA"/> </td> 


</tr>
</table></div>
</body> </form> </html>
eos
return aForm
%>
 
 

 
 
