
 
<%      

aForm = "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Strict//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd\">"
aForm = aForm + " <form action=\"/board\" method=\"post\"> "
aForm = aForm + "<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\" xml:lang=\"en\"> "
aForm = aForm + "<head> <title>Clarifications</title> </head> <body> "
aForm = aForm + "<div> <table> "
aForm = aForm + "<td>Evidence for:</td> <th> #{$thefile} </th>"
aForm = aForm + " </table> </div>"
aForm = aForm + "<div> <table> "
 
aForm = aForm + "<th>Family</th> <th>Kind</th><th>Confidence</th><th>Evidence</th>"

$claris.each_index {|i| aclari = $claris[i]
aForm = aForm + "<tr>"
aForm = aForm + "<td> <input type = \"text\" name = \"clari#{i}\" value =\"#{aclari[:family]}\" size = \"25\"</td>" 
aForm = aForm + "<td> <input type = \"text\" name = \"clari#{i}\" value =\"#{aclari[:kind]}\" size = \"35\"</td>" 
aForm = aForm + "<td> <input type = \"text\" name = \"clari#{i}\" value =\"#{aclari[:confidence]}\" size = \"6\"</td>" 
aForm = aForm + "<td> <input type = \"text\" name = \"clari#{i}\" value =\"#{aclari[:documentationText]}\" size = \"150\"</td>" 
}
aForm = aForm + "<tr>"

aForm = aForm + "</table></div>"
aForm = aForm  + "<input type = \"submit\" name=\"return\" value = \"Next File\" formaction = \"/shownextfileNUA\"/>"
aForm = aForm  + "<input type = \"submit\" name=\"return\" value = \"Prev File\" formaction = \"/showprevfileNUA\"/>"
aForm = aForm  + "<input type = \"submit\" name=\"return\" value = \"Return to Choose File\" formaction = \"/showchoosefilesNUA\"/>"
aForm = aForm + "</body> </form> </html>"

return aForm
%>
 
 
