
 
<%      
aForm = <<-eos
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<form action="/board" method="post"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
<head> <title>Clarifications</title> </head> <body> 

<input type = "submit" name="return" value = "Next File" formaction = "/shownextfileDQR"/>
<input type = "submit" name="return" value = "Prev File" formaction = "/showprevfileDQR"/>
<input type = "submit" name="return" value = "Return to Choose File" formaction = "/outputDQR"/>

<div> <table border="1">
<td>Clarifications for:</td> <th> #{$thefile} </th>
</table> </div>
<div> <table border="1"> 
 
<th>Family</th> <th>Kind</th><th>Confidence</th><th>MRN</th><th>Visit</th><th>SystemStatus</th><th>UserStatus</th><th>Evidence</th><th></th><th>Respond</th>
eos

$claris.each_index {|i| aclari = $claris[i]
if (aclari[:confidence] == 3) && (aclari[:userstatus] == $notshown)
	button = "<td> <input type = \"submit\" style=\"font-face: 'Comic Sans MS'; font-size: larger; color: teal; background-color: teal; border: 3pt ridge lightgrey\" name=\"clarification\" value = \"#{i}\" formaction = \"/chooseresponseDQR\"/> </td>"
else
	button = ""
end
aForm = aForm + <<-eos
<tr>
<td> #{aclari[:family]} </td>
<td> #{aclari[:kind]} </td>
<td> #{aclari[:confidence]}</td>
<td> #{aclari[:mrn]}</td>
<td> #{aclari[:visit]} </td>
<td> #{aclari[:systemstatus]} </td>
<td> #{aclari[:userstatus]} </td>
<td> #{aclari[:documentationText]} </td>
<td>#{button}</td>
</tr>
eos
}
aForm = aForm + <<-eos
</table></div>
</body> </form> </html>
eos
return aForm
%>
 
 
